<a href="https://colab.research.google.com/github/BickNutler/Data-Science-Capstone-Two/blob/main/Nicholas_Butler_Capstone_Two_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import requests

# Construct the raw file URLs
urls = {
    "adult.data": "https://raw.githubusercontent.com/BickNutler/Data-Science-Capstone-Two/main/raw_data/adult.data",
    "adult.test": "https://raw.githubusercontent.com/BickNutler/Data-Science-Capstone-Two/main/raw_data/adult.test"
}

# Download the files
for filename, url in urls.items():
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, 'wb') as f:
            f.write(response.content)
        print(f"Downloaded {filename} successfully.")
    else:
        print(f"Failed to download {filename}. Status code: {response.status_code}")

Downloaded adult.data successfully.
Downloaded adult.test successfully.

In [49]:
import pandas as pd

# Define the column names as the dataset does not have headers
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
                'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
                'hours-per-week', 'native-country', 'income']

# Read the training data
df_train = pd.read_csv('adult.data', names=column_names, sep=', ', engine='python')

# Read the test data
# The test data has an extra line at the beginning, so we skip the first row
df_test = pd.read_csv('adult.test', names=column_names, sep=', ', engine='python', skiprows=1)


# Combine the two dataframes
df = pd.concat([df_train, df_test], ignore_index=True)


# Display the first 5 rows of the combined DataFrame
display(df.head())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Task
Analyze the dataframe `df` to understand its features, including column names, data types, descriptions, unique value counts and percentages, and value ranges.

## Inspect column names and data types

### Subtask:
Display the column names and their corresponding data types to ensure they are appropriate.

**Reasoning**:
Display the column names and their data types to verify the structure of the DataFrame.

In [50]:
print("Column Names:")
print(df.columns)
print("\nColumn Data Types:")
print(df.dtypes)

Column Names:
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

Column Data Types:
age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

## Generate summary statistics

### Subtask:
Calculate and display summary statistics for numerical and categorical columns to understand the distribution and central tendencies of the data.

**Reasoning**:
Calculate and display descriptive statistics for numerical columns and value counts for categorical columns to understand the distribution and central tendencies of the data.

In [51]:
# Calculate and display descriptive statistics for numerical columns
print("Descriptive Statistics for Numerical Columns:")
display(df.describe())

# Calculate and display value counts for categorical columns
print("\nValue Counts for Categorical Columns:")
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    print(f"\nValue Counts for '{col}':")
    display(df[col].value_counts())

Descriptive Statistics for Numerical Columns:

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

Value Counts for Categorical Columns:

Value Counts for 'workclass':

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

Value Counts for 'education':

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

Value Counts for 'marital-status':

marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

Value Counts for 'occupation':

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

Value Counts for 'relationship':

relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

Value Counts for 'race':

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

Value Counts for 'sex':

sex
Male      32650
Female    16192
Name: count, dtype: int64

Value Counts for 'native-country':

native-country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

Value Counts for 'income':

income
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64

## Analyze unique values

### Subtask:
Determine the number of unique values for each column and calculate their percentages to identify potential categorical features and their cardinality.

**Reasoning**:
Iterate through each column, calculate the number of unique values, and print the count. If the number of unique values is small, also print the percentage of each unique value.

In [52]:
for col in df.columns:
    unique_count = df[col].nunique()
    print(f"Column '{col}': {unique_count} unique values")

    # Define a threshold for "small" number of unique values (e.g., less than 50)
    if unique_count < 50:
        print(f"Percentage of unique values in '{col}':")
        display(df[col].value_counts(normalize=True))

Column 'age': 74 unique values
Column 'workclass': 9 unique values
Percentage of unique values in 'workclass':

workclass
Private             0.694198
Self-emp-not-inc    0.079071
Local-gov           0.064207
?                   0.057307
State-gov           0.040559
Self-emp-inc        0.034704
Federal-gov         0.029319
Without-pay         0.000430
Never-worked        0.000205
Name: proportion, dtype: float64

Column 'fnlwgt': 28523 unique values
Column 'education': 16 unique values
Percentage of unique values in 'education':

education
HS-grad         0.323164
Some-college    0.222718
Bachelors       0.164305
Masters         0.054400
Assoc-voc       0.042197
11th            0.037099
Assoc-acdm      0.032779
10th            0.028439
7th-8th         0.019553
Prof-school     0.017075
9th             0.015478
12th            0.013452
Doctorate       0.012162
5th-6th         0.010421
1st-4th         0.005057
Preschool       0.001699
Name: proportion, dtype: float64

Column 'education-num': 16 unique values
Percentage of unique values in 'education-num':

education-num
9     0.323164
10    0.222718
13    0.164305
14    0.054400
11    0.042197
7     0.037099
12    0.032779
6     0.028439
4     0.019553
15    0.017075
5     0.015478
8     0.013452
16    0.012162
3     0.010421
2     0.005057
1     0.001699
Name: proportion, dtype: float64

Column 'marital-status': 7 unique values
Percentage of unique values in 'marital-status':

marital-status
Married-civ-spouse       0.458192
Never-married            0.329982
Divorced                 0.135805
Separated                0.031325
Widowed                  0.031080
Married-spouse-absent    0.012858
Married-AF-spouse        0.000758
Name: proportion, dtype: float64

Column 'occupation': 15 unique values
Percentage of unique values in 'occupation':

occupation
Prof-specialty       0.126367
Craft-repair         0.125138
Exec-managerial      0.124606
Adm-clerical         0.114881
Sales                0.112690
Other-service        0.100794
Machine-op-inspct    0.061873
?                    0.057512
Transport-moving     0.048217
Handlers-cleaners    0.042423
Farming-fishing      0.030507
Tech-support         0.029606
Protective-serv      0.020126
Priv-house-serv      0.004955
Armed-Forces         0.000307
Name: proportion, dtype: float64

Column 'relationship': 6 unique values
Percentage of unique values in 'relationship':

relationship
Husband           0.403669
Not-in-family     0.257627
Own-child         0.155215
Unmarried         0.104930
Wife              0.047725
Other-relative    0.030834
Name: proportion, dtype: float64

Column 'race': 5 unique values
Percentage of unique values in 'race':

race
White                 0.855043
Black                 0.095922
Asian-Pac-Islander    0.031100
Amer-Indian-Eskimo    0.009623
Other                 0.008313
Name: proportion, dtype: float64

Column 'sex': 2 unique values
Percentage of unique values in 'sex':

sex
Male      0.668482
Female    0.331518
Name: proportion, dtype: float64

Column 'capital-gain': 123 unique values
Column 'capital-loss': 99 unique values
Column 'hours-per-week': 96 unique values
Column 'native-country': 42 unique values
Percentage of unique values in 'native-country':

native-country
United-States                 0.897424
Mexico                        0.019471
?                             0.017546
Philippines                   0.006040
Germany                       0.004218
Puerto-Rico                   0.003767
Canada                        0.003726
El-Salvador                   0.003173
India                         0.003092
Cuba                          0.002825
England                       0.002600
China                         0.002498
South                         0.002355
Jamaica                       0.002170
Italy                         0.002150
Dominican-Republic            0.002109
Japan                         0.001884
Guatemala                     0.001802
Poland                        0.001781
Vietnam                       0.001761
Columbia                      0.001740
Haiti                         0.001536
Portugal                      0.001372
Taiwan                        0.001331
Iran                          0.001208
Greece                        0.001003
Nicaragua                     0.001003
Peru                          0.000942
Ecuador                       0.000921
France                        0.000778
Ireland                       0.000758
Thailand                      0.000614
Hong                          0.000614
Cambodia                      0.000573
Trinadad&Tobago               0.000553
Outlying-US(Guam-USVI-etc)    0.000471
Laos                          0.000471
Yugoslavia                    0.000471
Scotland                      0.000430
Honduras                      0.000409
Hungary                       0.000389
Holand-Netherlands            0.000020
Name: proportion, dtype: float64

Column 'income': 4 unique values
Percentage of unique values in 'income':

income
<=50K     0.506122
<=50K.    0.254596
>50K      0.160538
>50K.     0.078744
Name: proportion, dtype: float64

## Examine value ranges

### Subtask:
For numerical columns, identify the minimum and maximum values to understand the range of the data.

**Reasoning**:
Select numerical columns and calculate their minimum and maximum values.

In [53]:
numerical_cols = df.select_dtypes(include=['int64'])
print("Minimum values of numerical columns:")
display(numerical_cols.min())
print("\nMaximum values of numerical columns:")
display(numerical_cols.max())

Minimum values of numerical columns:

age                  17
fnlwgt            12285
education-num         1
capital-gain          0
capital-loss          0
hours-per-week        1
dtype: int64

Maximum values of numerical columns:

age                    90
fnlwgt            1490400
education-num          16
capital-gain        99999
capital-loss         4356
hours-per-week         99
dtype: int64

## Describe columns

### Subtask:
Provide a brief description of each column based on the data dictionary or common understanding of the dataset.

**Reasoning**:
Create a dictionary with column names and their descriptions based on common understanding of the dataset.

In [54]:
column_descriptions = {
    'age': 'Age of the individual.',
    'workclass': 'Type of employer (e.g., Private, Self-emp, Government).',
    'fnlwgt': 'Final weight - the number of people the census believes the entry represents.',
    'education': 'The highest level of education achieved.',
    'education-num': 'Numerical representation of the education level.',
    'marital-status': 'Marital status of the individual.',
    'occupation': 'The occupation of the individual.',
    'relationship': 'Relationship status (e.g., Husband, Not-in-family, Wife, Own-child).',
    'race': 'The race of the individual.',
    'sex': 'The sex of the individual.',
    'capital-gain': 'Capital gains.',
    'capital-loss': 'Capital losses.',
    'hours-per-week': 'The number of hours worked per week.',
    'native-country': 'The country of origin of the individual.',
    'income': 'Income level, either <=50K or >50K.'
}

for col, description in column_descriptions.items():
    print(f"Column: {col}")
    print(f"Description: {description}\n")

Column: age
Description: Age of the individual.

Column: workclass
Description: Type of employer (e.g., Private, Self-emp, Government).

Column: fnlwgt
Description: Final weight - the number of people the census believes the entry represents.

Column: education
Description: The highest level of education achieved.

Column: education-num
Description: Numerical representation of the education level.

Column: marital-status
Description: Marital status of the individual.

Column: occupation
Description: The occupation of the individual.

Column: relationship
Description: Relationship status (e.g., Husband, Not-in-family, Wife, Own-child).

Column: race
Description: The race of the individual.

Column: sex
Description: The sex of the individual.

Column: capital-gain
Description: Capital gains.

Column: capital-loss
Description: Capital losses.

Column: hours-per-week
Description: The number of hours worked per week.

Column: native-country
Description: The country of origin of the individual.

Column: income
Description: Income level, either <=50K or >50K.

## Identify areas for further investigation

### Subtask:
Based on the initial data exploration, identify any anomalies, inconsistencies, or areas that require further investigation or data cleaning.

**Reasoning**:
Review the previous outputs to identify anomalies, inconsistencies, or areas for further investigation or data cleaning. Specifically, look for missing values (indicated by '?'), unexpected data types or ranges, columns with high cardinality, and potential inconsistencies in data representation.

In [55]:
print("Identified areas for further investigation and data cleaning:")
print("- Missing values represented by '?' in 'workclass', 'occupation', and 'native-country' columns.")
print("- High cardinality in 'fnlwgt' and potentially 'native-country' columns.")
print("- 'education' and 'education-num' represent similar information and might require consolidation or choosing one for analysis.")
print("- The 'income' column is the target variable and needs to be appropriately encoded for model training.")

Identified areas for further investigation and data cleaning:
- Missing values represented by '?' in 'workclass', 'occupation', and 'native-country' columns.
- High cardinality in 'fnlwgt' and potentially 'native-country' columns.
- 'education' and 'education-num' represent similar information and might require consolidation or choosing one for analysis.
- The 'income' column is the target variable and needs to be appropriately encoded for model training.

## Summary:

### Data Analysis Key Findings

*   The dataset contains 15 columns: 'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', and 'income'.
*   Columns 'age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', and 'hours-per-week' are numerical (`int64`). The remaining columns are categorical (`object`).
*   Summary statistics for numerical columns provide insights into their distribution, including mean, standard deviation, min, max, and quartiles.
*   Value counts for categorical columns reveal the frequency of each unique category. The '?' character is present in 'workclass' and 'occupation', indicating potential missing values.
*   Several columns ('workclass', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', and 'income') have a relatively small number of unique values, confirming they are likely categorical features.
*   Columns 'age', 'fnlwgt', 'capital-gain', 'capital-loss', and 'hours-per-week' have a larger number of unique values.
*   The minimum and maximum values for numerical columns were identified, showing the range of data (e.g., 'age' ranges from 17 to 90, 'hours-per-week' ranges from 1 to 99).
*   The 'income' column is the target variable with two categories: '<=50K' and '>50K'.

### Insights or Next Steps

*   Address the missing values represented by '?' in 'workclass', 'occupation', and 'native-country' columns, potentially through imputation or removal.
*   Evaluate the relationship between 'education' and 'education-num' and decide whether to keep both or select one for analysis to avoid multicollinearity.

# Task
Clean the dataframe by removing duplicate values, imputing missing numerical data with the median value, and changing any missing values marked by a '?' with 'Unknown'.

In [56]:
# Replace '?' with 'Unknown' in the entire DataFrame
df.replace('?', 'Unknown', inplace=True)

# Verify the replacement by checking value counts for columns previously identified with '?'
print("Value Counts after replacing '?':")
display(df['workclass'].value_counts())
display(df['occupation'].value_counts())
display(df['native-country'].value_counts())

Value Counts after replacing '?':

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
Unknown              2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Unknown              2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

native-country
United-States                 43832
Mexico                          951
Unknown                         857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

## Remove duplicate values

### Subtask:
Identify and remove any duplicate rows from the DataFrame.

**Reasoning**:
Identify and remove duplicate rows from the DataFrame and print the number of rows before and after removing duplicates to confirm the operation was successful.

In [57]:
print(f"Number of rows before removing duplicates: {len(df)}")
duplicate_rows = df[df.duplicated(keep=False)].sort_values(by='fnlwgt')
print("Duplicate Rows:")
display(duplicate_rows)
# df.drop_duplicates(inplace=True) If we decide that these duplicates are no longer needed after our EDA, we may choose to drop them, but we will hold off for now
# print(f"Number of rows after removing duplicates: {len(df)}")

Number of rows before removing duplicates: 48842
Duplicate Rows:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25624,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
7920,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
43773,29,Private,36440,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K.
41810,29,Private,36440,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K.
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
7053,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
33880,37,Private,52870,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K.
43750,37,Private,52870,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K.
17673,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
5805,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
11965,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
6990,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,Unknown,<=50K
16975,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,Unknown,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
15189,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16297,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
39582,30,Private,180317,Assoc-voc,11,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K.
46409,30,Private,180317,Assoc-voc,11,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K.
33425,24,Private,194630,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,35,United-States,<=50K.
33049,24,Private,194630,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,35,United-States,<=50K.
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
5842,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
10367,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
4940,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
21103,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
8080,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
4767,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
3917,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
5579,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
8679,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
4325,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
17916,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
48521,18,Self-emp-inc,378036,12th,8,Never-married,Farming-fishing,Own-child,White,Male,0,0,10,United-States,<=50K.
36461,18,Self-emp-inc,378036,12th,8,Never-married,Farming-fishing,Own-child,White,Male,0,0,10,United-States,<=50K.
16846,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [58]:
# Save the combined and cleaned DataFrame to a CSV file
df.to_csv('adult_combined_cleaned.csv', index=False)

print("Combined and cleaned DataFrame saved to 'adult_combined_cleaned.csv'")

Combined and cleaned DataFrame saved to 'adult_combined_cleaned.csv'